.container_form{
    min-width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 1em 2em 1em 0;
}

.text_label{
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 4px;
}

.select{
    width: 104%;
    height: 2.4em;
    padding: 3px 6px;
    border: 0px solid rgba(0,0,0,0);
}