.btn_submit{
    width: 50%;
    min-width: max-content;
    margin: 1em 2em 1em 0;
}

.input{
    width: 104%;
    height: 2.4em;
    background-color: #695AB9;
    color: white;
    box-shadow: 2px 2px 6px #a8a8a8;
    border: none;
    margin-top: 10px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.input:hover{
    background-color: #53469b;
    box-shadow: 2px 2px 6px #929292;
}